app:
  build:
    time: "@timestamp@"
  version: "@project.version@"
jwt:
  base64-secret: ZmQ0ZGI5NjQ0MDQwY2I4MjMxY2Y3ZmI3MjdhN2ZmMjNhODViOTg1ZGE0NTBjMGM4NDA5NzYxMjdjOWMwYWRmZTBlZjlhNGY3ZTg4Y2U3YTE1ODVkZDU5Y2Y3OGYwZWE1NzUzNWQ2YjFjZDc0NGMxZWU2MmQ3MjY1NzJmNTE0MzI=
  header: Authorization
  route:
    authentication:
      path: auth
      refresh: refresh
  token-validity-in-seconds: 86400
  token-validity-in-seconds-for-remember-me: 108000
server:
  port: 80
serverchan:
  - 1
  - 2
spring:
  data:
    rest:
      base-path: /api
  datasource:
    password: 
    url: jdbc:mysql://localost:3306/smartlab
    username: root
  jpa:
    hibernate:
      ddl-auto: update
swaggerhost: 
wechat:
  appid: 
  secret: 
